@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --Very-dark-cyan: hsl(192, 100%, 9%);
  --Very-pale-blue: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

.navbar {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.navbar__container {
  width: 100%;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  width: 120px;
}

.navbar__button {
  background-color: white;
  border: var(--light-pink) 2px solid;
  border-radius: 20px;
  padding: 5px 16px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar__button:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0.6;
}

.navbar__button__text {
  color: var(--light-pink);
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 30px 0px 30px;
  text-align: center;
}

.content__titulo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  color: var(--Very-dark-cyan);
}

.content__explicacao {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--Very-dark-cyan);
  max-width: 450px;
}

.content__button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.content__contribuidores {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  margin: 70px 0;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__contribuidores__itens {
  height: 300px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__numeros {
  font-size: 70px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: var(--Very-dark-cyan);
}

.content__numeros--img::before {
  position: absolute;
  top: -80%;
  content: url("../images/icon-communities.svg");
}

.content__numeros--img--dois::before {
  position: absolute;
  top: -80%;
  content: url("../images/icon-messages.svg");
}

.content__numeros__helper {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--Very-dark-cyan);
}

.content__img {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 80vw;
}

.cartoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cartoes__svg {
  pointer-events: none;
  width: 100%;
  height: 27vw;
  background-image: url(../images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cartoes__svg--firstbot {
  background-image: url(../images/bg-section-bottom-mobile-1.svg);
}

.cartoes__svg--secondbot {
  background-image: url(../images/bg-section-bottom-mobile-2.svg);
}

.cartoes__svg--thirdtop {
  background-image: url(../images/bg-section-top-mobile-2.svg);
}

.cartoes__svg--fourthtop {
  background-image: url(../images/bg-section-bottom-mobile-2.svg);
}

.cartoes__svg--footer {
  background-image: url(../images/bg-footer-top-mobile.svg);
}

.cartoes__card {
  background-color: var(--Very-pale-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 100px 30px;
  text-align: center;
}

.cartoes__card--white {
  background-color: white;
}

.cartoes__card--fourth {
  height: 400px;
}

.cartoes__wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: var(--Very-dark-cyan);
}

.cartoes__title {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.cartoes__title--fourth {
  color: var(--Very-dark-cyan);
  margin-bottom: 20px;
}

.cartoes__explan {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  max-width: 400px;
}

.cartoes__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 278px;
  margin-bottom: 80px;
}

.cartoes__button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 200px;
  background-color: var(--pink);
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.cartoes__button__text {
  text-decoration: none;
  color: white;
}

.footer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer--modifier {
  padding: 0 30px 0px 30px;
  max-width: 420px;
  margin-bottom: 50px;
}

.footer__container {
  background-color: var(--Very-dark-cyan);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  min-width: 200px;
  max-width: 350px;
}

.footer__para {
  font-size: 15px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  min-width: 200px;
  max-width: 350px;
  line-height: 25px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__email {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.footer__button {
  border-radius: none;
  padding: 10px 10px;
  border-radius: 5px;
  width: 50% !important;
}

.footer__button__text {
  font-size: large;
}

.footer__logo {
  fill: white;
  width: 60%;
  margin-bottom: 10px;
}

.footer__icons {
  list-style: none;
  margin-bottom: 50px;
}

.footer__icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.footer__icon {
  margin-right: 25px;
}

.footer__icon__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 120px;
}

.footer__social__icon {
  width: 30px;
  fill: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer__social__icon--face:hover {
  fill: #4782ff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer__social__icon--insta:hover {
  fill: #ff1c91;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer__social__icon--twi:hover {
  fill: #459cff !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (min-width: 825px) {
  .cartoes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cartoes__svg {
    pointer-events: none;
    width: 100%;
    height: 10vw;
    background-image: url(../images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cartoes__svg--firstbot {
    background-image: url(../images/bg-section-bottom-desktop-1.svg);
  }
  .cartoes__svg--secondbot {
    background-image: url(../images/bg-section-bottom-desktop-2.svg);
  }
  .cartoes__svg--thirdtop {
    background-image: url(../images/bg-section-top-desktop-2.svg);
  }
  .cartoes__svg--fourthtop {
    background-image: url(../images/bg-section-bottom-desktop-2.svg);
  }
  .cartoes__svg--footer {
    background-image: url(../images/bg-footer-top-desktop.svg);
  }
  .cartoes__wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    color: var(--Very-dark-cyan);
  }
  .cartoes__wrapper--doMeio {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .cartoes__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 350px;
    margin-bottom: 80px;
  }
  .cartoes__img--doMeio {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer--modifier {
    padding: 0;
    max-width: none;
    margin-bottom: 50px;
  }
  .footer__news {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 40%;
  }
  .footer__contact {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__email {
    width: 80%;
    margin-bottom: 0 !important;
    padding: 15px 10px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  .footer__button {
    border-radius: none;
    border-radius: 5px;
    width: 35% !important;
  }
  .footer__button__text {
    font-size: large;
  }
}

.button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 200px;
  background-color: var(--pink);
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: var(--light-pink);
}

.button__text {
  text-decoration: none;
  color: white;
}

html, body {
  width: 100vw;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */