.button{
  order: 3;
  width: 12.5rem;
  background-color: var(--pink);
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  
  &:hover{
    transition: 0.2s ease-in-out;
    background-color: var(--light-pink);
  }
  
}
.button__text{
  text-decoration: none;
  color: white;
}