.button{
  order: 3;
  width: 200px;
  background-color: var(--pink);
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  
}
.button__text{
  text-decoration: none;
  color: white;
}