@media (min-width: 51.5625rem){
  .cartoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    &__svg{
      pointer-events: none;
      width: 100%;
      height: 10vw;
      background-image: url(../images/bg-section-top-desktop-1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      &--firstbot{
        background-image: url(../images/bg-section-bottom-desktop-1.svg);
      }
      &--secondbot{
        background-image: url(../images/bg-section-bottom-desktop-2.svg);
      }
      &--thirdtop{
        background-image: url(../images/bg-section-top-desktop-2.svg);
      }
      &--fourthtop{
        background-image: url(../images/bg-section-bottom-desktop-2.svg);
      }
      &--footer{
        background-image: url(../images/bg-footer-top-desktop.svg);
      }
  
    }
    &__wrapper{
      order: 1;
      color: var(--Very-dark-cyan);
      &--doMeio{
        order: 2;
      }
    }
    &__img{
      order: 2;
      max-width: 21.875rem;
      margin-bottom: 5rem;
      &--doMeio{
        order: 1;
      }
    }
  }
}