.cartoes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__svg{
    pointer-events: none;
    width: 100%;
    height: 27vw;
    background-image: url(../images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    &--firstbot{
      background-image: url(../images/bg-section-bottom-mobile-1.svg);
    }
    &--secondbot{
      background-image: url(../images/bg-section-bottom-mobile-2.svg);
    }
    &--thirdtop{
      background-image: url(../images/bg-section-top-mobile-2.svg);
    }
    &--fourthtop{
      background-image: url(../images/bg-section-bottom-mobile-2.svg);
    }
    &--footer{
      background-image: url(../images/bg-footer-top-mobile.svg);
    }

  }

  &__card{
    background-color: var(--Very-pale-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 6.25rem 1.875rem;
    text-align: center;

    &--white{
      background-color: white;
    }
    &--fourth{
      height: 
      25rem;
    }
    
  }
  &__wrapper{
    order: 2;
    color: var(--Very-dark-cyan);

  }

  &__title{
    font-size: 1.5625rem;
    margin-bottom: 0.625rem;
    font-family: 'Poppins', sans-serif;

    &--fourth{
      color: var(--Very-dark-cyan);
      margin-bottom: 1.25rem;
    }
  }

  &__explan{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    max-width: 25rem;
  }

  &__img{
    order: 1;
    max-width: 17.375rem;
    margin-bottom: 5rem;
  }

  &__button{
    order: 3;
    width: 12.5rem;
    background-color: var(--pink);
    border-radius: 3.125rem;
    padding: 0.625rem 1.25rem ;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    
  }

  &__button__text{
    text-decoration: none;
    color: white;
  }
}