@media (min-width: 51.5625rem){
.footer{
  &--modifier{
    padding: 0; 
    max-width: none;
    margin-bottom: 3.125rem;
  }
  &__news{
    order: 2;
    width: 40%;
  }
  &__contact{
    order: 1;
  }
  &__form{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  &__email{ 
    width: 80%;
    margin-bottom: 0 !important;
    padding: 0.9375rem 0.625rem;
    margin-right: 0.625rem;
    border-radius: 0.3125rem;
    outline: none;
    border: none;
  }
  &__button{
    border-radius: none;
    border-radius: 0.3125rem;
    width: 35% !important;
  }
  &__button__text{
    font-size: large;
  }
  &__alert{
    text-align: left;

  }
}
}