*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}


.navbar{
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  &__container{
    width: 100%;
    padding: 2.5rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    width: 7.5rem;
  }
  &__button{
    background-color: white;
    border: var(--light-pink) 0.125rem solid;
    border-radius: 1.25rem;
    padding: 0.3125rem 1rem ;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover{
      transition: 0.2s ease-in-out;
      opacity: 0.6;
    }
  }
  &__button__text{
    color: var(--light-pink);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
}
