*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}


.navbar{
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  &__container{
    width: 100%;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    width: 120px;
  }
  &__button{
    background-color: white;
    border: var(--light-pink) 2px solid;
    border-radius: 20px;
    padding: 5px 16px ;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover{
      transition: 0.2s ease-in-out;
      opacity: 0.6;
    }
  }
  &__button__text{
    color: var(--light-pink);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
}